# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
main
cosyl

# Test binary, built with `go test -c`
*.test

# Dependency directories (remove the comment below to include it)
# vendor/

# Output directories for CC files
/tmp/
pkg/commoncartridge/test_files/dump

cmd/cosyl/*.imscc

internal/api/uploads
internal/api/tmp

.env
