body {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header, main, footer{
    width: 60vw;
    margin:auto;
    padding-top: 20px;
}

input[type="file"], button{
    background-color: white;
    border: 1px solid black;
    margin-bottom: 10px;
    padding: 10px;
    cursor: pointer;
}

.item{
    margin-left: 5px;
    margin-bottom: 5px;
}

.resource-files {
    font-size: 0.85em;
}

.preview {
    position: fixed;
    top: 10vh;
    right: 10vw;
    min-height: 10vh;
    min-width: 10vw;
    background-color: grey;
}