<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Common Syllabi</title>
    <script src="https://unpkg.com/vue@3"></script>
    <link rel="stylesheet" href="css/style.css">
    <script src="js/script.js"></script>
</head>

<body onload="init()">
    <header>commonsyllabi</header>
    <main id="app">
        <h1>upload a common cartridge</h1>
        <div class="upload">
            <form action="/api/upload" method="post" id="upload-form">
                <input type="file" name="cartridge" id="cartridge">
            </form>
            <button type="button" @click="upload()">upload</button>
        </div>
        <div class="log">{{log}}</div>
        <div v-if="manifest" class="cartridge">
            <div class="metadata">
                <h2>Metadata</h2>
                <div class="title">{{manifest.Metadata.Lom.General.Title.String.Text}}</div>
            </div>
            <div class="items">
                <h2>Items</h2>
                <div class="item" v-for="i in manifest.Organizations.Organization.Item.Item">
                    <h3>{{i.Identifier}} - {{i.Title}}</h3>
                    <div class="sub-item" v-for="si in i.Item">
                        <div>{{si.Identifier}} - {{si.Title}}</div>
                    </div>
                </div>
            </div>
            <div class="resources">
                <h2>Resources</h2>
                <div class="resource" v-for="r in resources">
                    <div>
                        <div class="meta">
                            <div>
                                xml: <span class="resource-value">{{r.Resource.XMLName.Local}}</span>
                            </div>
                            <div>
                                title: <span class="resource-value">{{r.Resource.Title}}</span>
                            </div>
                            <div>
                                type: <span class="resource-value">{{r.Resource.Type}}</span>
                            </div>
                            <div>
                                id: <span class="resource-value">{{r.Resource.Identifier}}</a></span>
                            </div>
                        </div>

                        <ol class="resource-files" v-if="r.Resource.XMLName.Local == 'resource'">
                            <li v-for="f in r.Resource.File">
                                <div class="resource-file" @click="getFile($event, r.Resource.Identifier)">{{f.Href}}
                                </div>
                                <div class="preview">
                                    <iframe src="" frameborder="0">
                                        <!-- <object :data="this.preview" type=""></object> -->
                                    </iframe>
                                </div>
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>

    </main>
    <footer></footer>
</body>

</html>